.DS_Store
data/*
!data/processed
data/processed/*
!data/raw
data/raw/*
__pycache__/
.vscode
src/results/*
# src/config/*
src/logs/*
idea/*
src/lightning_logs/*
notebooks/.ipynb_checkpoints/RAE-dev-checkpoint.ipynb
src/utils/data/__init__.py
src/utils/evaluation/__init__.py
tests/__init__.py
.neptune/*
.idea/*
