anndata==0.10.8
matplotlib==3.9.1
mrunner @ git+https://gitlab.com/awarelab/mrunner.git
neptune==1.10.4
numpy==2.0.1
pandas==2.2.2
pytorch_lightning==2.3.3
PyYAML==6.0.1
scanpy
scikit_learn==1.5.1
seaborn==0.13.2
tensorboard
torch==2.3.1
tqdm==4.66.4
